.chart-background {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.pie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 300px;
  height: 300px;
  border: none;
}

.pie-center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
  font-family: "Outfit";
  margin-top: 50px;
}

.pie-center-text strong {
  font-size: 28px;
  display: block;
}

.pie-center-text span {
  font-size: 14px;
  color: #666;
}
