.button {
  border: none;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;

  cursor: pointer;
  font-family: "Outfit", sans-serif;
  letter-spacing: 1.5px;
  font-optical-sizing: auto;
  background: none;
}
.button:hover {
  color: white;
}
